In [1]:
import pandas as pd
import math
import numpy as np

df = pd.read_csv('2023_12_16.txt')
df

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,ycor-final-pos,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4
0,50202,0,43.107643,4.488705,1,1,11,3,none,43.107643,4.488705,1,1,11,3,171.000000,0,0,0,0
1,50202,0,43.043111,4.195727,1,1,11,3,none,43.043111,4.195727,1,1,11,3,192.421713,0,0,0,0
2,50202,1,42.967134,4.485947,1,1,11,3,none,42.967134,4.485947,1,1,11,3,345.329549,0,0,0,0
3,50202,2,42.891156,4.776167,1,1,11,4,none,42.891156,4.776167,1,1,11,4,345.329549,0,0,0,0
4,50202,3,42.815178,5.066386,1,1,11,4,none,42.815178,5.066386,1,1,11,4,345.329549,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2944,49899,155,50.894720,5.316595,1,1,19,4,none,50.894720,5.316595,1,1,19,4,139.986571,0,0,0,0
2945,49899,156,51.087610,5.086827,1,1,19,4,none,51.087610,5.086827,1,1,19,4,139.986571,0,0,0,0
2946,49899,157,51.280500,4.857059,1,1,19,4,none,51.280500,4.857059,1,1,19,4,139.986571,0,0,0,0
2947,49899,158,51.473390,4.627291,1,1,19,4,none,51.473390,4.627291,1,1,19,4,139.986571,0,0,0,0
2948,49899,159,51.666280,4.397522,1,1,20,3,none,51.666280,4.397522,1,1,20,3,139.986571,0,0,0,0

In [2]:
df.describe()

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,xcor-final-pos,ycor-final-pos,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4
count,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000
mean,50913.846050,72.526280,25.616672,15.132842,0.392336,0.392336,12.458121,14.155985,25.616672,15.132842,0.392336,0.392336,12.458121,14.155985,182.364573,0.010173,0.480841,0.665988,0.888437
std,1544.708591,43.060854,16.135662,5.626134,0.488354,0.488354,4.002292,5.662975,16.136120,5.626134,0.488354,0.488354,4.002292,5.662975,104.432080,0.118926,0.723741,0.852007,0.907584
min,48419.000000,0.000000,4.901498,2.248640,0.000000,0.000000,4.000000,1.000000,4.901498,2.248640,0.000000,0.000000,4.000000,1.000000,0.078995,0.000000,0.000000,0.000000,0.000000
25%,49608.000000,35.000000,11.570226,10.740674,0.000000,0.000000,9.000000,10.000000,11.570226,10.740674,0.000000,0.000000,9.000000,10.000000,87.516669,0.000000,0.000000,0.000000,0.000000
50%,50784.000000,72.000000,17.350342,15.941190,0.000000,0.000000,12.000000,15.000000,17.350342,15.941190,0.000000,0.000000,12.000000,15.000000,180.819139,0.000000,0.000000,0.000000,1.000000
75%,52143.000000,109.000000,42.958186,19.654529,1.000000,1.000000,16.000000,19.000000,42.958186,19.654529,1.000000,1.000000,16.000000,19.000000,268.436649,0.000000,1.000000,1.000000,1.000000
max,53457.000000,159.000000,53.616867,23.047940,1.000000,1.000000,22.000000,22.000000,53.616867,23.047940,1.000000,1.000000,22.000000,22.000000,359.912159,2.000000,4.000000,5.000000,5.000000

Split table by turtle

In [4]:
#list with unique turtle id
uniqueTurtle = df.who.unique()
uniqueTurtle

array([50202, 48662, 52143, 52398, 50784, 52660, 53457, 53187, 51908,
       52873, 49608, 50483, 49386, 51710, 48908, 49133, 51405, 48419,
       51102, 49899], dtype=int64)

Calcular Distancia Percorrida

In [13]:
def distance_calc(x_init_pos, y_init_pos, x_final_pos, y_final_pos):
    distance = math.sqrt(((x_init_pos-x_final_pos)**2)+((y_init_pos-y_final_pos)**2))
    return distance

# for i in range(len(uniqueTurtle)):
#     current_table=df[df['who']==uniqueTurtle[i]]
#     print(current_table.head())
#     current_table.loc[0,2]

turtles_df = df.groupby('who')

In [20]:
one_turtle = list(turtles_df.groups.keys())[0]
one_turtle_df = turtles_df.get_group(one_turtle)
one_turtle_df

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,ycor-final-pos,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4
2473,48419,0,5.445265,14.639203,0,0,4,14,none,5.445265,14.639203,0,0,4,14,18.000000,0,1,2,2
2474,48419,0,5.314898,14.796997,0,0,4,14,none,5.314898,14.796997,0,0,4,14,309.017795,0,1,1,1
2475,48419,1,5.526552,15.021771,0,0,5,14,none,5.526552,15.021771,0,0,5,14,39.973356,0,1,1,1
2476,48419,2,5.731531,15.249415,0,0,5,14,none,5.731531,15.249415,0,0,5,14,39.709955,0,1,1,1
2477,48419,3,5.935901,15.478197,0,0,5,14,none,5.935901,15.478197,0,0,5,14,39.513165,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,48419,148,52.838260,3.375353,1,1,21,2,none,52.838260,3.375353,1,1,21,2,139.812721,0,0,0,0
2623,48419,149,53.031847,3.146171,1,1,21,2,none,53.031847,3.146171,1,1,21,2,139.812721,0,0,0,0
2624,48419,150,53.225433,2.916989,1,1,21,2,none,53.225433,2.916989,1,1,21,2,139.812721,0,0,0,0
2625,48419,151,53.419020,2.687807,1,1,21,2,none,53.419020,2.687807,1,1,21,2,139.812721,0,0,0,0
2626,48419,152,53.612606,2.458625,1,1,22,1,none,53.612606,2.458625,1,1,22,1,139.812721,0,0,0,0

In [22]:

for turtle, turtle_df in turtles_df:
    # Ensure sort by tick
    turtle_df = turtle_df.sort_values('tick', ascending=True)
    for i in range(len(turtle_df)):
        print(i)
        if i == 0:
            turtle_df.loc[i, 'distance'] = 0
        else:
            x1 = turtle_df.loc[i-1, 'xcor-init-pos']
            y1 = turtle_df.loc[i-1, 'ycor-init-pos']
            x2 = turtle_df.loc[i, 'xcor-init-pos']
            y2 = turtle_df.loc[i, 'ycor-init-pos']
            distance = distance_calc(x1, y1, x2, y2)
            turtle_df.loc[i, 'distance'] = distance
    break

0
1

KeyError: 1

Number of turtles:

In [58]:
print(len(uniqueTurtle))

20