In [2]:
import pandas as pd
import math
import numpy as np

df = pd.read_csv('2023_12_29_00_40_12_tickdata.txt')
df

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,ycor-final-pos,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4
0,405,0,5.778839,15.597595,0,0,5,15,none,5.778839,15.597595,0,0,5,15,19.000000,0,0,0,0
1,405,1,5.923333,15.860504,0,0,5,15,none,5.923333,15.860504,0,0,5,15,28.793167,0,0,0,0
2,405,2,6.132281,16.075774,0,0,5,15,none,6.132281,16.075774,0,0,5,15,44.146246,0,0,0,0
3,405,3,6.341229,16.291043,0,0,5,15,none,6.341229,16.291043,0,0,5,15,44.146246,0,0,0,0
4,405,4,6.550176,16.506312,0,0,6,16,none,6.550176,16.506312,0,0,6,16,44.146246,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2269,300,69,22.575756,4.833511,0,0,22,4,none,22.575756,4.833511,0,0,22,4,120.337458,0,0,0,0
2270,300,70,22.834676,4.681983,0,0,22,4,none,22.834676,4.681983,0,0,22,4,120.337458,0,0,0,0
2271,300,71,23.093595,4.530455,0,0,22,4,none,23.093595,4.530455,0,0,22,4,120.337458,0,0,0,0
2272,300,72,23.352515,4.378928,0,0,22,3,none,23.352515,4.378928,0,0,22,3,120.337458,0,0,0,0
2273,300,73,23.611435,4.227400,0,0,23,3,none,23.611435,4.227400,0,0,23,3,120.337458,0,0,0,0

In [3]:
df.describe()

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,xcor-final-pos,ycor-final-pos,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4
count,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000
mean,353.207124,61.313105,26.886116,15.764108,0.396658,0.396658,13.600264,14.784081,26.817954,15.764108,0.394459,0.394459,13.600264,14.784081,167.785573,0.003518,0.117854,0.214600,0.246262
std,41.351250,39.837787,15.847360,6.367307,0.489311,0.489311,4.414193,6.398794,15.850980,6.367307,0.488842,0.488842,4.414193,6.398794,107.710296,0.059222,0.338480,0.453405,0.491052
min,289.000000,0.000000,5.023428,2.047565,0.000000,0.000000,4.000000,1.000000,5.023428,2.047565,0.000000,0.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,324.000000,28.000000,12.748393,10.366008,0.000000,0.000000,10.000000,9.000000,12.681656,10.366008,0.000000,0.000000,10.000000,9.000000,87.512321,0.000000,0.000000,0.000000,0.000000
50%,339.000000,57.000000,20.515067,17.275162,0.000000,0.000000,13.000000,16.000000,20.483714,17.275162,0.000000,0.000000,13.000000,16.000000,164.997550,0.000000,0.000000,0.000000,0.000000
75%,394.000000,92.000000,44.585339,20.725105,1.000000,1.000000,17.000000,20.000000,44.585339,20.725105,1.000000,1.000000,17.000000,20.000000,266.825164,0.000000,0.000000,0.000000,0.000000
max,428.000000,173.000000,53.669601,29.115250,1.000000,1.000000,23.000000,28.000000,53.669601,29.115250,1.000000,1.000000,23.000000,28.000000,359.777827,1.000000,2.000000,3.000000,3.000000

Split table by turtle

In [4]:
#list with unique turtle id
uniqueTurtle = df.who.unique()
uniqueTurtle

array([405, 383, 324, 416, 301, 372, 323, 289, 361, 339, 312, 394, 326,
       350, 325, 338, 337, 417, 428, 300])

Calcular Distancia Percorrida

In [5]:
def distance_calc(x_init_pos, y_init_pos, x_final_pos, y_final_pos):
    distance = math.sqrt(((x_init_pos-x_final_pos)**2)+((y_init_pos-y_final_pos)**2))
    return distance

# for i in range(len(uniqueTurtle)):
#     current_table=df[df['who']==uniqueTurtle[i]]
#     print(current_table.head())
#     current_table.loc[0,2]

df['distance'] = np.nan
turtles_df = df.groupby('who')

In [6]:
one_turtle = list(turtles_df.groups.keys())[0]
one_turtle_df = turtles_df.get_group(one_turtle)
one_turtle_df

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance
791,289,0,45.298566,27.007091,1,1,13,26,none,45.298566,...,1,1,13,26,292.000000,0,0,0,0,NaN
792,289,1,44.998651,26.999968,1,1,13,26,none,44.998651,...,1,1,13,26,268.639529,0,0,0,0,NaN
793,289,2,44.876843,26.725809,1,1,13,26,none,44.876843,...,1,1,13,26,203.955391,0,0,0,0,NaN
794,289,3,44.755036,26.451651,1,1,13,25,none,44.755036,...,1,1,13,25,203.955391,0,0,0,0,NaN
795,289,4,44.633228,26.177492,1,1,13,25,none,44.633228,...,1,1,13,25,203.955391,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898,289,107,23.437620,8.452292,0,0,22,7,none,23.437620,...,0,0,22,7,158.831793,0,0,0,0,NaN
899,289,108,23.545952,8.172535,0,0,23,7,none,23.545952,...,0,0,23,7,158.831793,0,0,0,0,NaN
900,289,109,23.654284,7.892777,0,0,23,7,none,23.654284,...,0,0,23,7,158.831793,0,0,0,0,NaN
901,289,110,23.762616,7.613020,0,0,23,7,none,23.762616,...,0,0,23,7,158.831793,0,0,0,0,NaN
902,289,111,23.870949,7.333263,0,0,23,6,none,23.870949,...,0,0,23,6,158.831793,0,0,0,0,NaN

In [7]:

for turtle, turtle_df in turtles_df:
    # Ensure sort by tick
    turtle_df = turtle_df.sort_values('tick', ascending=True)
    prev_x = None
    prev_y = None
    prev_distance = None
    first = True
    for i, row in turtle_df.iterrows():
        if first:
            distance = 0
            first = False
        else:
            x1 = prev_x
            y1 = prev_y
            d1 = prev_distance
            x2 = row['xcor-init-pos']
            y2 = row['ycor-init-pos']
            delta_d = distance_calc(x1, y1, x2, y2)
            distance = d1 + delta_d
            
            
        prev_x = row['xcor-init-pos']
        prev_y = row['ycor-init-pos']
        prev_distance = distance
        # turtles_df.loc[turtle].loc[i, 'distance'] = distance
        df.loc[i, 'distance'] = distance

In [16]:
df[df['distance']==df['distance'].max()]

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance
1625,326,173,53.669601,4.295325,1,1,22,3,none,53.669601,...,1,1,22,3,131.791773,0,0,0,0,85.000828

In [17]:
df[df['crowdness-0.8']== df['crowdness-0.8'].max()]

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance
284,324,0,43.227484,4.071440,1,1,11,3,none,43.227484,...,1,1,11,3,93.000000,1,1,1,1,0.000000
574,372,0,50.015845,28.567801,1,1,18,28,none,50.015845,...,1,1,18,28,265.000000,1,1,1,1,0.000000
851,289,60,18.813614,20.980557,0,0,18,20,none,18.813614,...,0,0,18,20,80.273448,1,1,1,1,51.287969
1232,312,60,18.857752,20.600000,0,0,18,20,none,18.857752,...,0,0,18,20,278.116308,1,1,1,1,17.985612
1316,394,0,42.999943,4.415741,1,1,11,3,none,42.999943,...,1,1,11,3,15.000000,1,1,1,1,0.000000
1527,326,75,14.570453,23.052960,0,0,14,22,none,14.570453,...,0,0,14,22,86.857466,1,1,1,1,22.548729
1626,350,0,50.041433,28.519909,1,1,18,28,none,50.041433,...,1,1,18,28,176.000000,1,1,1,1,0.000000
2149,428,75,14.617043,22.600000,0,0,14,22,none,14.617043,...,0,0,14,22,272.846290,1,1,1,1,55.724515

In [18]:
df[df['crowdness-1']== df['crowdness-1'].max()]

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance
431,301,4,50.080579,3.664079,1,1,18,3,none,50.080579,...,1,1,18,3,358.518903,0,2,2,2,1.090376
432,301,5,50.015761,3.935481,1,1,18,3,none,50.015761,...,1,1,18,3,358.935330,0,2,2,2,1.369411
433,301,6,49.954522,4.217419,1,1,18,3,none,49.954522,...,1,1,18,3,359.777827,0,2,2,2,1.657922
434,301,7,49.903812,4.512586,1,1,18,4,none,49.903812,...,1,1,18,4,0.688827,0,2,2,2,1.957414
435,301,8,49.869840,4.825711,1,1,18,4,none,49.869840,...,1,1,18,4,1.579908,0,2,2,2,2.272376
436,301,9,49.853002,5.159218,1,1,18,4,none,49.853002,...,1,1,18,4,2.348061,0,2,2,2,2.606308
628,372,54,10.131847,18.209914,0,0,9,17,none,10.131847,...,0,0,9,17,222.142090,0,2,2,2,47.167357
645,372,71,15.892783,20.157136,0,0,15,19,none,15.892783,...,0,0,15,19,52.178268,0,2,2,2,54.584544
1039,339,2,50.590023,3.572831,1,1,19,3,none,50.590023,...,1,1,19,3,328.430349,0,2,2,2,0.387441
1696,350,70,16.041464,20.430950,0,0,15,19,none,16.041464,...,0,0,15,19,50.361840,0,2,2,2,54.353825
1701,350,75,16.701908,21.530973,0,0,16,21,none,16.701908,...,0,0,16,21,10.842968,0,2,2,2,55.762569
1706,350,80,16.571577,22.807528,0,0,16,22,none,16.571577,...,0,0,16,22,271.606077,0,2,2,2,57.402883

In [19]:
df[df['crowdness-1.2']== df['crowdness-1.2'].max()]

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance
1243,312,71,16.466827,20.009186,0,0,15,19,none,16.466827,...,0,0,15,19,203.720891,0,1,3,3,21.369777

In [20]:
df[df['crowdness-1.4']== df['crowdness-1.4'].max()]

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance
1243,312,71,16.466827,20.009186,0,0,15,19,none,16.466827,...,0,0,15,19,203.720891,0,1,3,3,21.369777
1695,350,69,16.013099,20.182457,0,0,15,19,none,16.013099,...,0,0,15,19,50.361840,0,0,2,3,54.103718