In [1]:
import pandas as pd

df = pd.read_csv('2023_12_16.txt')
df.head()

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

         xcor-init-pos  ycor-init-pos  floor-id-init-pos  platform-init-pos  \
50202 0      43.107643       4.488705                  1                  1
      0      43.043111       4.195727                  1                  1
      1      42.967134       4.485947                  1                  1
      2      42.891156       4.776167                  1                  1
      3      42.815178       5.066386                  1                  1

         floor-x-init-pos  floor-y-init-pos floor-transition  xcor-final-pos  \
50202 0                11                 3             none       43.107643
      0                11                 3             none       43.043111
      1                11                 3             none       42.967134
      2                11                 4             none       42.891156
      3                11                 4             none       42.815178

         ycor-final-pos  floor-id-final-pos  platform--final-pos  \
50202 0        4.488705                   1                    1
      0        4.195727                   1                    1
      1        4.485947                   1                    1
      2        4.776167                   1                    1
      3        5.066386                   1                    1

         floor-x-final-pos  floor-y-final-pos     heading  crowdness-0.8  \
50202 0                 11                  3  171.000000              0
      0                 11                  3  192.421713              0
      1                 11                  3  345.329549              0
      2                 11                  4  345.329549              0
      3                 11                  4  345.329549              0

         crowdness-1  crowdness-1.2  crowdness-1.4
50202 0            0              0              0
      0            0              0              0
      1            0              0              0
      2            0              0              0
      3            0              0              0

In [2]:
df.describe()

,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,xcor-final-pos,ycor-final-pos,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4
count,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000,2949.000000
mean,25.616672,15.132842,0.392336,0.392336,12.458121,14.155985,25.616672,15.132842,0.392336,0.392336,12.458121,14.155985,182.364573,0.010173,0.480841,0.665988,0.888437
std,16.135662,5.626134,0.488354,0.488354,4.002292,5.662975,16.136120,5.626134,0.488354,0.488354,4.002292,5.662975,104.432080,0.118926,0.723741,0.852007,0.907584
min,4.901498,2.248640,0.000000,0.000000,4.000000,1.000000,4.901498,2.248640,0.000000,0.000000,4.000000,1.000000,0.078995,0.000000,0.000000,0.000000,0.000000
25%,11.570226,10.740674,0.000000,0.000000,9.000000,10.000000,11.570226,10.740674,0.000000,0.000000,9.000000,10.000000,87.516669,0.000000,0.000000,0.000000,0.000000
50%,17.350342,15.941190,0.000000,0.000000,12.000000,15.000000,17.350342,15.941190,0.000000,0.000000,12.000000,15.000000,180.819139,0.000000,0.000000,0.000000,1.000000
75%,42.958186,19.654529,1.000000,1.000000,16.000000,19.000000,42.958186,19.654529,1.000000,1.000000,16.000000,19.000000,268.436649,0.000000,1.000000,1.000000,1.000000
max,53.616867,23.047940,1.000000,1.000000,22.000000,22.000000,53.616867,23.047940,1.000000,1.000000,22.000000,22.000000,359.912159,2.000000,4.000000,5.000000,5.000000