In [2]:
import pandas as pd

df = pd.read_csv('2023_12_08_22_34_01.txt')
df.head()

                                  [2 30 30 3 20 2 2]
0                                                 []
1                                                 []
2  [[6.39901514264454 15.197345530542785 0 0 5 14...
3  [[[[6.130106691188623 15.064348369913015 0 0 5...
4                                                 []