In [109]:
import pandas as pd
import math
import numpy as np

df = pd.read_csv('2023_12_29_00_40_12_tickdata.txt')
df

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,ycor-final-pos,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4
0,405,0,5.778839,15.597595,0,0,5,15,none,5.778839,15.597595,0,0,5,15,19.000000,0,0,0,0
1,405,1,5.923333,15.860504,0,0,5,15,none,5.923333,15.860504,0,0,5,15,28.793167,0,0,0,0
2,405,2,6.132281,16.075774,0,0,5,15,none,6.132281,16.075774,0,0,5,15,44.146246,0,0,0,0
3,405,3,6.341229,16.291043,0,0,5,15,none,6.341229,16.291043,0,0,5,15,44.146246,0,0,0,0
4,405,4,6.550176,16.506312,0,0,6,16,none,6.550176,16.506312,0,0,6,16,44.146246,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2269,300,69,22.575756,4.833511,0,0,22,4,none,22.575756,4.833511,0,0,22,4,120.337458,0,0,0,0
2270,300,70,22.834676,4.681983,0,0,22,4,none,22.834676,4.681983,0,0,22,4,120.337458,0,0,0,0
2271,300,71,23.093595,4.530455,0,0,22,4,none,23.093595,4.530455,0,0,22,4,120.337458,0,0,0,0
2272,300,72,23.352515,4.378928,0,0,22,3,none,23.352515,4.378928,0,0,22,3,120.337458,0,0,0,0
2273,300,73,23.611435,4.227400,0,0,23,3,none,23.611435,4.227400,0,0,23,3,120.337458,0,0,0,0

In [110]:
df.describe()

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,xcor-final-pos,ycor-final-pos,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4
count,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000,2274.000000
mean,353.207124,61.313105,26.886116,15.764108,0.396658,0.396658,13.600264,14.784081,26.817954,15.764108,0.394459,0.394459,13.600264,14.784081,167.785573,0.003518,0.117854,0.214600,0.246262
std,41.351250,39.837787,15.847360,6.367307,0.489311,0.489311,4.414193,6.398794,15.850980,6.367307,0.488842,0.488842,4.414193,6.398794,107.710296,0.059222,0.338480,0.453405,0.491052
min,289.000000,0.000000,5.023428,2.047565,0.000000,0.000000,4.000000,1.000000,5.023428,2.047565,0.000000,0.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,324.000000,28.000000,12.748393,10.366008,0.000000,0.000000,10.000000,9.000000,12.681656,10.366008,0.000000,0.000000,10.000000,9.000000,87.512321,0.000000,0.000000,0.000000,0.000000
50%,339.000000,57.000000,20.515067,17.275162,0.000000,0.000000,13.000000,16.000000,20.483714,17.275162,0.000000,0.000000,13.000000,16.000000,164.997550,0.000000,0.000000,0.000000,0.000000
75%,394.000000,92.000000,44.585339,20.725105,1.000000,1.000000,17.000000,20.000000,44.585339,20.725105,1.000000,1.000000,17.000000,20.000000,266.825164,0.000000,0.000000,0.000000,0.000000
max,428.000000,173.000000,53.669601,29.115250,1.000000,1.000000,23.000000,28.000000,53.669601,29.115250,1.000000,1.000000,23.000000,28.000000,359.777827,1.000000,2.000000,3.000000,3.000000

Split table by turtle

In [111]:
#list with unique turtle id
uniqueTurtle = df.who.unique()
uniqueTurtle

array([405, 383, 324, 416, 301, 372, 323, 289, 361, 339, 312, 394, 326,
       350, 325, 338, 337, 417, 428, 300], dtype=int64)

Calcular Distancia Percorrida

In [112]:
def distance_calc(x_init_pos, y_init_pos, x_final_pos, y_final_pos):
    distance = math.sqrt(((x_init_pos-x_final_pos)**2)+((y_init_pos-y_final_pos)**2))
    return distance

# for i in range(len(uniqueTurtle)):
#     current_table=df[df['who']==uniqueTurtle[i]]
#     print(current_table.head())
#     current_table.loc[0,2]

df['distance'] = np.nan
turtles_df = df.groupby('who')

In [113]:
one_turtle = list(turtles_df.groups.keys())[0]
one_turtle_df = turtles_df.get_group(one_turtle)
one_turtle_df

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance
791,289,0,45.298566,27.007091,1,1,13,26,none,45.298566,...,1,1,13,26,292.000000,0,0,0,0,NaN
792,289,1,44.998651,26.999968,1,1,13,26,none,44.998651,...,1,1,13,26,268.639529,0,0,0,0,NaN
793,289,2,44.876843,26.725809,1,1,13,26,none,44.876843,...,1,1,13,26,203.955391,0,0,0,0,NaN
794,289,3,44.755036,26.451651,1,1,13,25,none,44.755036,...,1,1,13,25,203.955391,0,0,0,0,NaN
795,289,4,44.633228,26.177492,1,1,13,25,none,44.633228,...,1,1,13,25,203.955391,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898,289,107,23.437620,8.452292,0,0,22,7,none,23.437620,...,0,0,22,7,158.831793,0,0,0,0,NaN
899,289,108,23.545952,8.172535,0,0,23,7,none,23.545952,...,0,0,23,7,158.831793,0,0,0,0,NaN
900,289,109,23.654284,7.892777,0,0,23,7,none,23.654284,...,0,0,23,7,158.831793,0,0,0,0,NaN
901,289,110,23.762616,7.613020,0,0,23,7,none,23.762616,...,0,0,23,7,158.831793,0,0,0,0,NaN
902,289,111,23.870949,7.333263,0,0,23,6,none,23.870949,...,0,0,23,6,158.831793,0,0,0,0,NaN

In [116]:

for turtle, turtle_df in turtles_df:
    # Ensure sort by tick
    turtle_df = turtle_df.sort_values('tick', ascending=True)
    prev_x = None
    prev_y = None
    prev_distance = None
    first = True
    for i, row in turtle_df.iterrows():
        if first:
            distance = 0
            first = False
        else:
            x1 = prev_x
            y1 = prev_y
            d1 = prev_distance
            x2 = row['xcor-init-pos']
            y2 = row['ycor-init-pos']
            delta_d = distance_calc(x1, y1, x2, y2)
            distance = d1 + delta_d
            
            
        prev_x = row['xcor-init-pos']
        prev_y = row['ycor-init-pos']
        prev_distance = distance
        # turtles_df.loc[turtle].loc[i, 'distance'] = distance
        df.loc[i, 'distance'] = distance

In [117]:
df

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance
0,405,0,5.778839,15.597595,0,0,5,15,none,5.778839,...,0,0,5,15,19.000000,0,0,0,0,0.0000
1,405,1,5.923333,15.860504,0,0,5,15,none,5.923333,...,0,0,5,15,28.793167,0,0,0,0,0.3000
2,405,2,6.132281,16.075774,0,0,5,15,none,6.132281,...,0,0,5,15,44.146246,0,0,0,0,0.6000
3,405,3,6.341229,16.291043,0,0,5,15,none,6.341229,...,0,0,5,15,44.146246,0,0,0,0,0.9000
4,405,4,6.550176,16.506312,0,0,6,16,none,6.550176,...,0,0,6,16,44.146246,0,0,0,0,1.2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2269,300,69,22.575756,4.833511,0,0,22,4,none,22.575756,...,0,0,22,4,120.337458,0,0,0,0,20.7786
2270,300,70,22.834676,4.681983,0,0,22,4,none,22.834676,...,0,0,22,4,120.337458,0,0,0,0,21.0786
2271,300,71,23.093595,4.530455,0,0,22,4,none,23.093595,...,0,0,22,4,120.337458,0,0,0,0,21.3786
2272,300,72,23.352515,4.378928,0,0,22,3,none,23.352515,...,0,0,22,3,120.337458,0,0,0,0,21.6786
2273,300,73,23.611435,4.227400,0,0,23,3,none,23.611435,...,0,0,23,3,120.337458,0,0,0,0,21.9786