In [1]:
import pandas as pd
import math
import numpy as np
import re

data_file = '2024_01_01_12_17_43_tickdata.txt'
metadata_file = '2024_01_01_12_17_43_metadata.txt'

ModuleNotFoundError: No module named 'pandas'

In [ ]:
def showdf():
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_rows', None)

def hidedf():
    pd.reset_option('display.max_columns')
    pd.reset_option('display.max_rows')

In [ ]:
df = pd.read_csv(data_file)

In [ ]:
df.describe()

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,xcor-final-pos,ycor-final-pos,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4
count,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000,46571.000000
mean,3334.295441,276.739688,323.125513,88.808961,1.278414,2.346310,100.963625,87.808658,323.207238,88.808961,1.278886,2.346804,100.963625,87.808658,169.321204,0.001160,0.203689,0.397329,0.457151
std,1335.234054,193.472693,137.238214,40.091046,0.712508,1.035226,23.316859,40.093738,137.214378,40.091046,0.712323,1.035092,23.316859,40.093738,106.871277,0.039845,0.541747,0.739537,0.799496
min,1008.000000,0.000000,76.860058,2.877067,0.000000,0.000000,45.000000,2.000000,76.896663,2.877067,0.000000,0.000000,45.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2232.000000,116.000000,255.585487,62.110883,1.000000,2.000000,82.000000,61.000000,255.587147,62.110883,1.000000,2.000000,82.000000,61.000000,82.679136,0.000000,0.000000,0.000000,0.000000
50%,3346.000000,243.000000,281.503151,92.666185,1.000000,2.000000,95.000000,92.000000,281.504110,92.666185,1.000000,2.000000,95.000000,92.000000,176.943907,0.000000,0.000000,0.000000,0.000000
75%,4528.000000,411.000000,462.819591,125.067889,2.000000,3.000000,119.000000,124.000000,462.839004,125.067889,2.000000,3.000000,119.000000,124.000000,263.493355,0.000000,0.000000,1.000000,1.000000
max,5578.000000,898.000000,518.009910,150.794460,2.000000,4.000000,171.000000,150.000000,518.009910,150.794460,2.000000,4.000000,171.000000,150.000000,359.997622,3.000000,5.000000,6.000000,6.000000

Split table by turtle

In [ ]:
# Read meta
with open(metadata_file) as f:
    content = f.readlines()
world_init_metadata_line = content[0]
# Regex numbers separated by spaces inside of [ ]
world_init_metadata = re.findall(r'\[(.*?)\]', world_init_metadata_line)
world_init_metadata_numbers = [float(x) for x in world_init_metadata[0].split(' ')]
floors, floor_width, floor_height, platforms, passengers, trains, portals = world_init_metadata_numbers

passengers_start_line_index = 3
passengers_end_line_index = passengers_start_line_index + int(passengers)*2
passengers_init_data = content[passengers_start_line_index:passengers_end_line_index:2]
passengers_end_data = content[passengers_start_line_index+1:passengers_end_line_index:2]

# Get the data from the following line
line = "[[462.59913427039925 114.55255740658299 2 3 116 114] (train 694) [453 115 2 3 106 114] (outside 992) [518 138 2 4 171 137] [518 143 2 4 171 142] [[(patch 463 115) (patch 472 111) (patch 475 111) (patch 482 111) (patch 482 109) (patch 464 106)] [(patch 464 106) (patch 291 106)] [(patch 291 106) (patch 275 109) (patch 275 120) (patch 276 129) (patch 277 134) (patch 313 141) (patch 323 148) (patch 323 151)] [(patch 323 151) (patch 496 151)] [(patch 496 151) (patch 496 148) (patch 518 143)]]]"
# Get the data from the following line
# Define regular expressions to extract information
pos_pattern = r'\[([\d.]+) ([\d.]+) (\d+) (\d+) (\d+) (\d+)\]'
source_dest_pattern = r'\((\w+) (\d+)\)'
path_pattern = r'\[([^\]]+)\]'

# Extract position information
positions = re.findall(pos_pattern, line)

# Extract source and destination information
source_match = re.search(source_dest_pattern, line)
destination_match = re.search(source_dest_pattern, line[source_match.end():])
source = (source_match.group(1), int(source_match.group(2)))
destination = (destination_match.group(1), int(destination_match.group(2)))

# Extract destination patch positions
patch_match = re.search(path_pattern, line[destination_match.end():])
destination_patch_pos = re.findall(pos_pattern, patch_match.group(1))

# Print the extracted information
print("Position Information:", positions)
print("Source Information:", source)
print("Destination Information:", destination)
print("Destination Patch Positions:", destination_patch_pos)

Position Information: [('462.59913427039925', '114.55255740658299', '2', '3', '116', '114'), ('453', '115', '2', '3', '106', '114'), ('518', '138', '2', '4', '171', '137'), ('518', '143', '2', '4', '171', '142')]
Source Information: ('train', 694)
Destination Information: ('outside', 992)
Destination Patch Positions: []

In [ ]:
#list with unique turtle id
uniqueTurtle = df.who.unique()
uniqueTurtle

array([3708, 2873, 4078, 4416, 5080, 5520, 2116, 4018, 2995, 1923, 3345,
       1053, 3217, 3774, 3645, 1387, 2115, 3525, 2750, 3583, 5395, 1336,
       3047, 1602, 5274, 2811, 1855, 3951, 1922, 1052, 2114, 3644, 3218,
       4704, 2496, 4582, 1800, 4120, 2927, 5208, 1008, 4898, 1733, 5081,
       4638, 1185, 2363, 4528, 5393, 1990, 3827, 3278, 1386, 4763, 3048,
       1545, 2048, 1119, 1546, 2166, 3156, 2298, 4954, 5014, 5462, 3465,
       4186, 2623, 4240, 3952, 2300, 4482, 1277, 3890, 4762, 4187, 4362,
       1666, 5394, 2362, 2299, 2557, 4764, 3398, 5147, 2689, 2429, 1233,
       3646, 2232, 2928, 1431, 4765, 3100, 1484, 5326, 5578, 4301, 3346,
       4831], dtype=int64)

Calcular Distancia Percorrida

In [ ]:
def distance_calc(x_init_pos, y_init_pos, x_final_pos, y_final_pos):
    distance = math.sqrt(((x_init_pos-x_final_pos)**2)+((y_init_pos-y_final_pos)**2))
    return distance

In [ ]:
df['distance'] = np.nan
turtles_df = df.groupby('who')

In [ ]:
one_turtle = list(turtles_df.groups.keys())[0]
one_turtle_df = turtles_df.get_group(one_turtle)
one_turtle_df

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,floor-id-final-pos,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance
16595,1008,0,102.125863,40.182634,0,1,101,39,none,102.125863,...,0,1,101,39,176.000000,0,0,0,0,NaN
16596,1008,1,101.955627,39.935612,0,1,101,39,none,101.955627,...,0,1,101,39,214.572980,0,0,0,0,NaN
16597,1008,2,101.704631,40.099932,0,1,101,39,none,101.704631,...,0,1,101,39,303.211641,0,0,0,0,NaN
16598,1008,3,101.453635,40.264252,0,1,100,39,none,101.453635,...,0,1,100,39,303.211641,0,0,0,0,NaN
16599,1008,4,101.202639,40.428572,0,1,100,39,none,101.202639,...,0,1,100,39,303.211641,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16829,1008,234,431.497982,94.505069,2,3,84,94,none,431.497982,...,2,3,84,94,18.562740,0,0,0,0,NaN
16830,1008,235,431.593485,94.789462,2,3,85,94,none,431.593485,...,2,3,85,94,18.562740,0,0,0,0,NaN
16831,1008,236,431.688988,95.073854,2,3,85,94,none,431.688988,...,2,3,85,94,18.562740,0,0,0,0,NaN
16832,1008,237,431.784491,95.358247,2,3,85,94,none,431.784491,...,2,3,85,94,18.562740,0,0,0,0,NaN
16833,1008,238,431.879994,95.642640,2,3,85,95,none,431.879994,...,2,3,85,95,18.562740,0,0,0,0,NaN

In [ ]:
for turtle, turtle_df in turtles_df:
    # Ensure sort by tick
    turtle_df = turtle_df.sort_values('tick', ascending=True)
    prev_x = None
    prev_y = None
    prev_distance = None
    first = True
    prev_transition = False
    for i, row in turtle_df.iterrows():
        if first:
            
            distance = 0
            tick_distance = 0
            first = False
            x2 = row['xcor-init-pos']
            y2 = row['ycor-init-pos']
        else:
            x1 = prev_x
            y1 = prev_y
            d1 = prev_distance
            x2 = row['xcor-init-pos']
            y2 = row['ycor-init-pos']
            
                         
            delta_d = distance_calc(x1, y1, x2, y2)
            distance = d1 + delta_d
            tick_distance = delta_d
            if row['floor-transition'] != "none":
                x2 = row['xcor-final-pos']
                y2 = row['ycor-final-pos']
            
            
        prev_x = x2
        prev_y = y2
        prev_distance = distance
        # turtles_df.loc[turtle].loc[i, 'distance'] = distance
        df.loc[i, 'distance'] = distance
        df.loc[i, 'tick_distance'] = tick_distance

In [ ]:
maximum_distances = df.loc[df.groupby('who')['tick'].idxmax()][['who', 'distance', 'tick']]
print(type(maximum_distances))
display(maximum_distances)

<class 'pandas.core.frame.DataFrame'>

        who    distance  tick
16833  1008   69.335658   238
12373  1052   38.504057   127
5617   1053  240.958787   804
25357  1119  252.859466   844
19711  1185   76.867540   263
...     ...         ...   ...
35816  5394   56.700000   189
9391   5395  184.409824   619
29045  5462  132.804739   446
2569   5520  148.426946   502
44986  5578  180.005876   601

[100 rows x 3 columns]

In [ ]:
distance_stats = maximum_distances['distance'].describe()
print("Distance Stats")
display(distance_stats)
tick_stats = maximum_distances['tick'].describe()
print("Tick Stats")
display(tick_stats)

Distance Stats

count    100.000000
mean     138.460790
std       61.119533
min       38.504057
25%       76.022187
50%      141.865455
75%      182.623531
max      268.083006
Name: distance, dtype: float64

Tick Stats

count    100.000000
mean     464.710000
std      204.348647
min      127.000000
25%      256.750000
50%      479.000000
75%      608.750000
max      898.000000
Name: tick, dtype: float64

In [ ]:
# Get rows sorted descending tick distance
sorted_tick_distance = df.sort_values('tick_distance', ascending=False)
display(sorted_tick_distance.head(102))

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance,tick_distance
10060,1602,232,254.973550,39.535308,1,2,81,39,none,254.973550,...,2,81,39,178.308163,0,1,1,1,69.156198,0.564923
6077,3774,232,254.848386,40.075864,1,2,81,39,none,254.848386,...,2,81,39,358.477208,0,2,2,2,68.774639,0.564840
9796,3047,128,470.592387,96.442948,2,3,124,95,none,470.592387,...,3,124,95,176.202374,0,1,1,1,38.400275,0.540123
28600,5462,1,103.203894,38.885904,0,1,102,38,none,103.203894,...,1,102,38,135.120691,0,1,1,1,0.538665,0.538665
10186,1602,358,83.004502,3.788019,0,0,82,3,none,83.004502,...,0,82,3,0.021430,0,1,1,1,105.994715,0.538517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9531,1336,139,77.971850,70.083812,0,1,77,69,none,77.971850,...,1,77,69,165.603602,0,1,1,1,39.269988,0.351409
6581,1387,84,82.179367,53.330272,0,1,81,52,none,82.179367,...,1,81,52,344.427448,0,1,1,1,25.122802,0.350999
1338,4416,116,250.939312,72.886558,1,2,77,72,none,250.939312,...,2,77,72,9.969140,0,1,1,2,33.224551,0.349974
41408,2928,237,275.283619,109.283724,1,2,101,108,none,275.283619,...,2,101,108,358.278622,0,1,1,1,70.957060,0.349796
1339,4416,117,251.033598,73.223157,1,2,77,72,none,251.033598,...,2,77,72,9.898762,0,1,2,2,33.574105,0.349555

In [ ]:
# Get all tick distance but for rows where the tick is 0
tick_distances = df.loc[df['tick'] > 0]['tick_distance']
tick_distance_stats = tick_distances.describe()
print("Tick Distance Stats")
display(tick_distance_stats)

Tick Distance Stats

count    46471.000000
mean         0.297951
std          0.024352
min          0.000000
25%          0.300000
50%          0.300000
75%          0.300000
max          0.564923
Name: tick_distance, dtype: float64

In [ ]:
# Crowdness stats
crowdness_columns = [column for column in df.columns if 'crowdness' in column]
# Describe crowdness columns
crowdness_stats = df[crowdness_columns].describe()
print("Crowdness Stats")
display(crowdness_stats)

Crowdness Stats

       crowdness-0.8   crowdness-1  crowdness-1.2  crowdness-1.4
count   46571.000000  46571.000000   46571.000000   46571.000000
mean        0.001160      0.203689       0.397329       0.457151
std         0.039845      0.541747       0.739537       0.799496
min         0.000000      0.000000       0.000000       0.000000
25%         0.000000      0.000000       0.000000       0.000000
50%         0.000000      0.000000       0.000000       0.000000
75%         0.000000      0.000000       1.000000       1.000000
max         3.000000      5.000000       6.000000       6.000000

In [ ]:
df[df['distance']==df['distance'].max()]

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance,tick_distance
20610,2363,898,104.54831,30.808775,0,0,104,30,none,104.54831,...,0,104,30,67.054471,0,0,0,0,268.083006,0.3

In [ ]:
df[df['crowdness-0.8']== df['crowdness-0.8'].max()]

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance,tick_distance
32030,2300,128,423.101226,71.643761,2,3,76,71,none,423.101226,...,3,76,71,346.43002,3,3,4,4,38.112305,0.066615

In [ ]:
df[df['crowdness-1']== df['crowdness-1'].max()]

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance,tick_distance
44429,5578,44,85.888419,20.263355,0,0,85,19,none,85.888419,...,0,85,19,169.187384,0,5,5,5,13.128150,0.331459
44430,5578,45,85.817794,19.949614,0,0,85,19,none,85.817794,...,0,85,19,191.447943,0,5,5,5,13.449742,0.321592
44431,5578,46,85.750944,19.653549,0,0,85,19,none,85.750944,...,0,85,19,191.419965,0,5,5,5,13.753261,0.303518
44432,5578,47,85.684884,19.360520,0,0,85,18,none,85.684884,...,0,85,18,191.391556,0,5,5,5,14.053644,0.300383
44433,5578,48,85.619652,19.068572,0,0,85,18,none,85.619652,...,0,85,18,191.362621,0,5,5,5,14.352791,0.299147
44434,5578,49,85.555343,18.776303,0,0,85,18,none,85.555343,...,0,85,18,191.334959,0,5,5,5,14.652051,0.299260
44435,5578,50,85.491856,18.483850,0,0,84,17,none,85.491856,...,0,84,17,191.310287,0,5,5,5,14.951315,0.299264
44436,5578,51,85.428991,18.191329,0,0,84,17,none,85.428991,...,0,84,17,191.288246,0,5,5,5,15.250515,0.299200
44437,5578,52,85.366546,17.898807,0,0,84,17,none,85.366546,...,0,84,17,191.268013,0,5,5,5,15.549628,0.299113
44438,5578,53,85.304363,17.606318,0,0,84,17,none,85.304363,...,0,84,17,191.248732,0,5,5,5,15.848654,0.299026
44439,5578,54,85.242329,17.313885,0,0,84,16,none,85.242329,...,0,84,16,191.229688,0,5,5,5,16.147595,0.298941
44440,5578,55,85.180488,17.021581,0,0,84,16,none,85.180488,...,0,84,16,191.210328,0,5,5,5,16.446369,0.298774
44441,5578,56,85.118638,16.729128,0,0,84,16,none,85.118638,...,0,84,16,191.190777,0,5,5,5,16.745290,0.298922
44442,5578,57,85.056824,16.436482,0,0,84,15,none,85.056824,...,0,84,15,191.170264,0,5,5,5,17.044393,0.299103
44443,5578,58,84.995007,16.143617,0,0,84,15,none,84.995007,...,0,84,15,191.148987,0,5,5,5,17.343711,0.299318
44444,5578,59,84.933191,15.850632,0,0,84,15,none,84.933191,...,0,84,15,191.126692,0,5,5,5,17.643147,0.299436
44445,5578,60,84.871388,15.557586,0,0,84,15,none,84.871388,...,0,84,15,191.103216,0,5,5,5,17.942639,0.299492
44446,5578,61,84.809601,15.264513,0,0,84,14,none,84.809601,...,0,84,14,191.078434,0,5,5,5,18.242154,0.299515

In [ ]:
df[df['crowdness-1.2']== df['crowdness-1.2'].max()]

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance,tick_distance
6971,3525,42,86.231931,20.422034,0,0,85,19,none,86.231931,...,0,85,19,205.187667,0,3,6,6,12.363984,0.329164

In [ ]:
df[df['crowdness-1.4']== df['crowdness-1.4'].max()]

,who,tick,xcor-init-pos,ycor-init-pos,floor-id-init-pos,platform-init-pos,floor-x-init-pos,floor-y-init-pos,floor-transition,xcor-final-pos,...,platform--final-pos,floor-x-final-pos,floor-y-final-pos,heading,crowdness-0.8,crowdness-1,crowdness-1.2,crowdness-1.4,distance,tick_distance
6970,3525,41,86.344035,20.731520,0,0,85,20,none,86.344035,...,0,85,20,206.022416,0,1,5,6,12.034821,0.319718
6971,3525,42,86.231931,20.422034,0,0,85,19,none,86.231931,...,0,85,19,205.187667,0,3,6,6,12.363984,0.329164
6972,3525,43,86.154320,20.088942,0,0,85,19,none,86.154320,...,0,85,19,192.631115,0,4,5,6,12.705999,0.342014